body{
    width: 100%;
    height: 100%;
    background-color: rgb(53, 53, 53);
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
}
li{
    list-style: none;
}
/* ... Ваши стили ... */

.link {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    transition: background-size 0.3s, transform 0.3s;
    background-size: cover;
    font-size: 50px;
    font-weight: bolder;
  }
  



  .column:hover .link {
 /* Увеличение размера фонового изображения при наведении */
    transform: scale(1.01); /* Увеличение размера ссылки при наведении */
  }
  
  /* ... Дополнительные стили ... */
  
  
/* ... остальные стили ... */

.column-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    
  }
  
  .column {
    flex: 1;
    width: 33.33%;
    height: 100%;
     /* Добавьте отступы для разделения колонок */
    box-sizing: border-box;
    display: flex; /* Добавьте flex-свойство для выравнивания содержимого */
    justify-content: center; /* Центрируем содержимое горизонтально */
    align-items: center; /* Центрируем содержимое вертикально */
  }
